*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(200, 225, 250);
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	font-size: 1.25rem;
	text-align: center;
	color: rgb(88, 5, 243);
}

.btn-cluster {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 1rem;
}

.grid {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	box-shadow: rgb(6, 10, 238) 0px 2px 15px, 0px 2px 20px rgb(235, 3, 3);
}

.cell {
	box-shadow: black 0px 0px 1px;
	background-color: white;
}

.cell-16 {
	width: 50px;
	height: 50px;
}

.cell-32 {
	width: 25px;
	height: 25px;
}

.cell-64 {
	width: 12.5px;
	height: 12.5px;
}

.cell-100 {
	width: 8px;
	height: 8px;
}
